{%extends 'base.html'%}
{% load bootstrap5 %}

{%block content%}{{block.super}}
  {%if user.profile.residence%}
  <div class="container-fluid">

    <div class="info-div card">
      <img class="topimg" src="https://wallpaper.dog/large/13153.jpg" alt="">
      <h2>Neighbourhood:{{user.profile.residence.name}}</h2>
      <h4>Population: {{user.profile.residence.census}}</h4>

    </div>
    <div class="card botinfo-div">
      <p style="margin: 0;">Contacts &nbsp<p style="color: grey; margin: 0;">&nbspPolice, Health and more</p></p>
      <p>{{user.profile.residence.contacts}}</p>
      <p>Location: {{user.profile.residence.location}}</p>
      <div class="dropdown">
        <button class="dropbtn">MANAGE & CREATE ⌄</button>
        <div class="dropdown-content">
          <a href="#" id = "postInput" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Post</a>
          <a href="#" id = "businessInput" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Business</a>
          <a href="#" id = "contactInput" data-bs-toggle="modal" data-bs-target="#exampleModal">Change contacts</a>
        </div>
      </div>
    </div>



<br><br>


    <div class="content-div">
       <div class="row content-row">

         <div class="col-md-6 bzcol">

            <h2 style="text-align:center; width: auto; background-color:#66ccff;">Businesses</h2>
            {% for item in businesses %}
              <div style="text-align:center;" class="card bzcard">
                <h5 style="text-align: center; color: black;" class="card-title">{{item.name}}</h5>
                <p>{{item.description}}</p>
                <p>{{item.email}}</p>
                <p>{{item.owner.user.username}}--{{item.residence.name}}</p>
              </div>
              <br>
            {% endfor %}
         </div>

         <div style="text-align:center;" class="col-md-6 pscol">
            <h2 style="text-align:center; width: auto; background-color:#66ccff;">Posts</h2> 
            {% for item in posts %}
              <div class="card pscard">
                <p>{{item.content}}</p>
                <p>{{item.owner.user.username}} ---- {{item.residence.name}}</p>
              </div>
              <br>
            {% endfor %}            
         </div>

       </div> 
    </div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fill in below</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form class="post-form" action="{%url 'home'%}" method="post" enctype="multipart/form-data">
          <h4 style="text-align:center">Add your post</h4>
          {% csrf_token %}
          {% bootstrap_form ps_form %}
          <input type="submit" class="btn btn-primary btn-lg" value="Post" name="ps_btn">
        </form>

        <form class="business-form" action="{%url 'home'%}" method="post" enctype="multipart/form-data">
          <h4 style="text-align:center">Add your business</h4>
          {% csrf_token %}
          {% bootstrap_form bz_form %}
          <input type="submit" class="btn btn-primary btn-lg" value="Post" name="bz_btn">
        </form>      
        
        <form class="contact-form" role="search" action="{% url 'home' %}">
          <h4 style="text-align:center">Change or Add Contacts</h4>
          <p  style="color: grey; margin: 0; text-align:center">Police Health and more...</p>
          <div class="input-group" style="width:210px; padding-left: 0px; margin-left: 0px;">
            <input style="padding-left: 0px; margin-left: 0px;" type="text" class="form-control" placeholder="Contacts Info" name="conts">
            <div class="input-group-btn">
              <button style="border: 1px solid grey;"  class="btn btn-default" type="submit"><i class="fa fa-book"></i></button>
            </div>
          </div>
    
        </form>
    



      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>








  </div>
  {%else%}
  <h1>You aren't part of any Neighbourhood create or join one from your <a style="color:rgb(6, 230, 17);" href="{%url 'you'%}">profile</a></h1>
  {%endif%}
  <script>

  $(document).ready(function(){   
    var cells = ["contact","business", "post"]
    var others = ["contact","business", "post"]
    cells.forEach(function(cell){
      others.forEach(function(other){
        $("#"+cell+"Input").click(function(){
          $("."+cell+"-form").show(function(){

            });
            if (other != cell){
              $("."+other+"-form").hide(function(){

              });
            } 
          });
      });
    });
  });    

  </script>
{%endblock%}