{%extends 'base.html'%} 
{% block content %}
<div class="container-fluid theconts">

  <div class="row">
    {% if business%}
      <h2>Found {{ business|length }} results{{title}}</h2>
    {% else %}
      <h2> Found 0 businesses for the search term {{title}}</h2>
    {% endif %}
    {% if message%}
      <h2>{{message}}</h2>
    {%endif%}

  </div>

  <div class="row ">

  {% if business %}
    {% for business in business %}
      <div class="card srchcard">
        <h2 style="color: black;">{{business.name}}</h2>
    
          <p>{{business.description}}</p>
          <p>{{business.email}}</p>
          <p>{{business.owner.username}} ~ {{business.residence.name}}</p>
      </div>      
      <br>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}