{%extends 'base.html'%}
{%block content%}{{block.super}}
  <div class="container-fluid">

    <div class="info-div card">
      <img class="topimg" src="https://preview.redd.it/mgq8j7bpc7w71.png?width=640&crop=smart&auto=webp&s=5da18af3f4858ab15abc219806686119c0d0d0a4" alt="">
      <h2 style="margin-bottom: 0%;">User</h2>

    </div>

    <div class="botinfo-div card">
      <p>About</p>

      <div class="dropdown">
        <button class="dropbtn">MANAGE & CREATE ⌄</button>
        <div class="dropdown-content">
          <a href="#" id = "myInput" data-bs-toggle="modal" data-bs-target="#exampleModal">Create Neighbourhood</a>
          <a href="#" id = "myInput" data-bs-toggle="modal" data-bs-target="#exampleModal">Join/Change Neighbourhood</a>
          <a href="#" id = "myInput" data-bs-toggle="modal" data-bs-target="#exampleModal">Update Profile</a>
        </div>
      </div>
    </div>


<br><br>


    <div class="content-div">
       <div class="row content-row">

         <div class="col-md-6 bzcol">
            <h2 style="text-align:center" >Businesses</h2>
         </div>

         <div class="col-md-6 pscol">
            <h3 style="text-align:center" >Posts</h3>  
         </div>

       </div> 
    </div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fill in below</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Form will go here
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>








  </div>

{%endblock%}